h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica;
  color: white;
  font-weight: normal; }

body {
  background-color: #333;
  color: white;
  font-family: Helvetica; }

a {
  text-decoration: none !important; }

a:not(.btn) {
  color: #ccc !important; }

.feed {
  width: 100%; }
  .feed td.margin {
    width: 50%; }
  .feed td.content {
    max-width: 100%; }
    .feed td.content table {
      width: 500px;
      margin-top: 10px;
      text-align: left; }
      .feed td.content table td {
        vertical-align: top; }
      .feed td.content table.header {
        margin: 0;
        width: 100%; }
      .feed td.content table.tab {
        width: 100%;
        margin-bottom: 15px; }
        .feed td.content table.tab td:first-of-type {
          border-top: solid 2px white;
          width: auto;
          padding-top: 15px;
          font-size: 20px;
          line-height: 80%;
          padding-right: 10px;
          white-space: nowrap; }
        .feed td.content table.tab td:nth-of-type(2) {
          min-width: 19px;
          background-image: url("http://www.technoqueers.com/images/newsletter/tab.jpg");
          background-size: 20px 35px;
          background-position: -1px -1px;
          background-repeat: no-repeat; }
        .feed td.content table.tab td:last-of-type {
          border-bottom: solid 2px white;
          width: 100%; }

a.btn {
  margin-top: 5px !important;
  background-color: #FFF;
  display: block;
  color: #333;
  text-align: center;
  padding: 10px;
  font-weight: bold; }

p {
  margin: 0; }
  p:not(:last-of-type):not(:only-of-type) {
    margin-bottom: 10px; }

.social {
  float: right;
  padding-top: 15px;
  margin-right: -1px; }
  .social a {
    width: 40px;
    heighT: 40px;
    display: block;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    background-color: #333;
    -webkit-transition: all 300ms ease-out !important;
    transition: all 300ms ease-out !important;
    color: #fff; }
    table.header:not(.big) .social a:not(:first-of-type) {
      border-top: solid 2px #fff; }
    table.header.big .social a:not(:first-of-type) {
      margin-top: 2px; }
  .social img {
    width: 100%; }

.sig, .footer td ul {
  font-size: 11px;
  color: white; }

.tags {
  margin: 0px !important;
  padding: 0px !important;
  border: none;
  background: transparent;
  list-style: none;
  margin-top: 5px !important; }
  .tags:focus {
    outline-width: 0;
    outline: none;
    outline-color: transparent;
    outline-style: none; }
  .tags li {
    font-size: 11px;
    color: black;
    background-color: #FFF;
    display: inline-block;
    border-radius: 10px;
    background-clip: padding-box;
    padding: 2px 5px;
    margin-right: 3px; }

img.cover {
  padding: 15px 0; }

table.header:not(.big) td {
  height: 200px; }

table.header.big td {
  height: 250px;
  background-size: cover;
  background-position: center center; }

table.action {
  margin-bottom: 30px !important; }
  table.action td {
    width: 50%;
    vertical-align: bottom; }
    table.action td > p:not(:last-of-type):not(:only-of-type) {
      padding-bottom: 20px; }
    table.action td:nth-of-type(1) {
      padding-right: 10px; }
    table.action td:nth-of-type(2) {
      padding-left: 10px; }

.logo {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  margin-left: -5px;
  background-size: cover; }
  table.header:not(.big) .logo {
    max-width: 250px; }
    table.header:not(.big) .logo .lid, table.header:not(.big) .logo .bg {
      background-size: contain;
      position: absolute; }
    table.header:not(.big) .logo .lid {
      background-image: url("http://www.technoqueers.com/images/newsletter/logo_newsletter.png");
      width: 250px;
      height: 143px; }
    table.header:not(.big) .logo .bg {
      background-image: url("http://www.technoqueers.com/images/glitch/04.gif");
      width: 249px;
      height: 143px; }
  table.header.big .logo {
    width: 231px;
    height: 133px;
    background-image: url("http://www.technoqueers.com/images/newsletter/logo.png");
    background-size: contain;
    background-repeat: no-repeat; }
    table.header.big .logo svg {
      fill: #333; }

a.image {
  width: 100%;
  display: block;
  margin: 10px 0; }
  a.image img {
    width: 100%; }

.footer td {
  padding: 20px 0;
  border-top: solid 2px white; }
  .footer td ul {
    width: 50%;
    margin: 0px !important;
    padding: 0px !important;
    border: none;
    background: transparent;
    list-style: none; }
    .footer td ul:nth-of-type(1) {
      float: left; }
      .footer td ul:nth-of-type(1) li:nth-of-type(4) {
        padding-top: 10px; }
    .footer td ul:nth-of-type(2) {
      float: right;
      text-align: right; }
    .footer td ul:focus {
      outline-width: 0;
      outline: none;
      outline-color: transparent;
      outline-style: none; }
    .footer td ul img {
      width: 139px;
      height: 54px;
      margin-bottom: 10px; }

table.description {
  margin-bottom: 20px; }
