<div class="social">
         
          <a href="https://www.twitter.com/TechnoQueersNY/" target="_blank" data-tooltip="@TechnoQueersNY on Twitter">
            <i class="fa fa-twitter"></i>
          </a>
           <a href="/" class="back">
            <i class="fa fa-home"></i>
          </a>
          <a href="https://www.facebook.com/technoqueers/" target="_blank" data-tooltip="Technoqueers on Facebook">
            <i class="fa fa-facebook"></i>
          </a>
              <a href="/archive.html" target="_blank"  data-tooltip="Visit our archives">
            <i class="fa fa-archive"></i>
          </a>
          <a href="mailto:technoqueersny@gmail.com?subject=Feedback" data-tooltip="Feedback? Email us">
            <i class="fa fa-envelope"></i>
          </a>
            
        </div>