<div class="social">
          <a href="https://www.twitter.com/TechnoQueersNY/" target="_blank" data-tooltip="@TechnoQueersNY on Twitter">
             {% include icons/twitter.svg %}
          </a>
          <a href="https://www.facebook.com/technoqueers/" target="_blank" data-tooltip="Technoqueers on Facebook">
            {% include icons/facebook-f.svg %}
          </a>
              <a href="/archive.html" target="_blank"  data-tooltip="Visit our archives">
            {% include icons/archive.svg %}
          </a>
          <a href="mailto:technoqueersny@gmail.com?subject=Feedback" data-tooltip="Feedback? Email us">
            {% include icons/envelope-open.svg %}
          </a>  
        </div>