{% extends "layout.html" %}
{% block active %}base{% endblock %}
{% block title %}base{% endblock %}
{% block quote %}base functions to simplify your life{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4">

         <h2>Peesets</h2>
         <ol class="tutorial">
           <li>Normalize<a target="_blank" class="btn external" href="https://necolas.github.io/normalize.css"><i class="fa fa-link"></i></a></li>
           <li>HTML5 Boilerplate<a target="_blank" class="btn external" href="http://html5boilerplate.com"><i class="fa fa-link"></i></a></li>
           <li>media print</li>
         </ol>

    <h2>Variables</h2>
    <p class="code macro variable">$gap</p>
    <p class="sig todo">pending</p>
    <hr>
</div>
  <div class="col-md-8">
    <h2>Mixins</h2>
    <div class="row">
        <div class="col-md-6">
        <p class="code macro SASS">prefixer</p>
    <p class="sig todo">pending</p>
    <hr>
        <p class="code macro SASS">transition</p>
    <p class="sig todo">pending</p>
    <hr>
        <p class="code macro SASS">find</p>
    <p class="sig todo">pending</p>
    <hr>
        <p class="code macro SASS">+size</p>
    <p class="sig todo">pending</p>
    <hr>
        <p class="code macro SASS">border-box</p>
    <p class="sig todo">pending</p>
</div>
        <div class="col-md-6">

        <p class="code macro SASS">radius</p>
    <p class="sig todo">pending</p>
    <hr>
        <p class="code macro SASS">shadow</p>
    <p class="sig todo">pending</p>
    <hr>
    <p class="code macro SASS">opacity</p>
    <p class="sig todo">pending</p>
    <hr>
    <p class="code macro SASS">reset</p>
    <p class="sig">all, margin, padding, border, bg, list, select, shadow, outline, shadow-text, number</p>
    <hr>
        <p class="code macro SASS">clearfix</p>
    <p class="sig todo">pending</p>
</div>
    </div>
</div>






</div>
{% endblock %}
