{% extends "layout.html" %}
{% block active %}filters{% endblock %}
{% block title %}filters{% endblock %}
{% block quote %}enhance your pictures{% endblock %}

{% block content %}

<div class="col-md-4">
  <h2>CSSgram
  <a target="_blank" class="btn external" href="http://una.im/CSSgram/"><i class="fa fa-link"></i></a></h2>
  <p class="code HTML">filter-aden</p>
  <div class="filter-aden">
    <img src="images/pass.png" alt="">
  </div>
  <hr>
  <p class="code HTML">filter-inkwell</p>
  <div class="filter-inkwell">
    <img src="images/pass.png" alt="">
  </div>
  <hr>
  <p class="code HTML">filter-perpetua</p>
  <div class="filter-perpetua">
    <img src="images/pass.png" alt="">
  </div>
  <hr>
  <p class="code HTML">filter-reyes</p>
  <div class="filter-reyes">
    <img src="images/pass.png" alt="">
  </div>
  <hr>
  <p class="code HTML">filter-gingham</p>
  <div class="filter-gingham">
    <img src="images/pass.png" alt="">
  </div>
  <hr>
  <p class="code HTML">filter-toaster</p>
  <div class="filter-toaster">
   <img src="images/pass.png" alt="">
 </div>
</div>
<div class="col-md-4">
  <p class="code HTML">filter-walden</p>
  <div class="filter-walden">
    <img src="images/pass.png" alt="">
  </div>
  <hr>
  <p class="code HTML">filter-hudson</p>
  <div class="filter-hudson">
    <img src="images/pass.png" alt="">
  </div>
  <hr>
  <p class="code HTML">filter-earlybird</p>
  <div class="filter-earlybird">
    <img src="images/pass.png" alt="">
  </div>
  <hr>
  <p class="code HTML">filter-mayfair</p>
  <div class="filter-mayfair">
    <img src="images/pass.png" alt="">
  </div>
  <hr>
  <p class="code HTML">filter-lofi</p>
  <div class="filter-lofi">
   <img src="images/pass.png" alt="">
 </div>
 <hr>
 <p class="code HTML">filter-1971</p>
 <div class="filter-1977">
   <img src="images/pass.png" alt="">
 </div>

</div>
<div class="col-md-4">
  <p class="code HTML">filter-brooklyn</p>
  <div class="filter-brooklyn">
    <img src="images/pass.png" alt="">
  </div>
  <hr>
  <p class="code HTML">filter-xpro2</p>
  <div class="filter-xpro2">
   <img src="images/pass.png" alt="">
 </div>
 <hr>
 <p class="code HTML">filter-nashville</p>
 <div class="filter-nashville">
  <img src="images/pass.png" alt="">
</div>
<hr>
<p class="code HTML">filter-lark</p>
<div class="filter-lark">
  <img src="images/pass.png" alt="">
</div>
<hr>
<p class="code HTML">filter-moon</p>
<div class="filter-moon">
  <img src="images/pass.png" alt="">
</div>
</div>



{% endblock %}
