{% extends "layout.html" %}
{% block active %}home{% endblock %}
{% block title %}home{% endblock %}
{% block quote %}
Rapid, Rapid Clickable Prototypes
<h2>so you can focus on design, not code</h2>
{% endblock %}
{% block content %}
<div class="col-md-4">
  <h2>Legends</h2>
  <table class="legend">
   <tbody>
    <tr>
      <td><p class="code terminal">terminal</p></td>
      <td>a terminal command</td>
    </tr>
    <tr>
      <td><p class="code folder">folder</p></td>
      <td>a folder to navigate</td>
    </tr>
    <tr>
      <td><p class="code file">file</p></td>
      <td>a file to edit</td>
    </tr>
    <tr>
      <td><p class="code HTML">HTML</p></td>
      <td>an HTML script</td>
    </tr>
    <tr>
      <td><p class="code SASS">SASS</p></td>
      <td>a SASS script</td>
    </tr>
    <tr>
      <td><p class="code variable">variable</p></td>
      <td>a variable</td>
    </tr>
    <tr>
      <td><p class="code macro SASS">macro</p></td>
      <td>HTML or SASS macro (sublime text only)</td>
    </tr>
  </tbody>
</table>





</div>
<div class="col-md-4">
  <h2>What's inside</h2>
  <h3 class="title">BrowserSync <a href="http://www.browsersync.io" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h3>
  <p class="sig">Reloads page automatically on edit.</p>
  <h3 class="title">SASS<a href="http://sass-lang.com" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h3>
  <p class="sig">Lib-sass goodness</p>
  <h3 class="title">Bootstrap<a href="http://getbootstrap.com" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h3>
  <p class="sig">Forms, grids, etc. More in <a href="frameworks.html">frameworks</a></p>
  <h3 class="title">FontAwesome<a href="https://fortawesome.github.io/Font-Awesome/" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h3>
  <p class="sig">all icons you can think of. More in <a href="symbols.html">symbols</a></p>
  <h3 class="title">Modernizr (+ Detectizr)<a href="https://modernizr.com" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h3>
  <p class="sig">js library that detects all you need to know about the machine your page is loading, and react accordingly. More in <a href="frameworks.html">frameworks</a></p>
  <h3 class="title">Nunjucks<a href="https://mozilla.github.io/nunjucks/" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h3>
  <p class="sig">All partials and templates for true rapid prototyping.</p>
  <h3 class="title">unCSS<a href="https://github.com/giakki/uncss" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h3>
  <p class="sig">Removes unused CSS code automatically. More in <a href="install.html">install</a>.</p>
  <h3 class="title">gh-pages<a href="https://pages.github.com" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h3>
  <p class="sig">Publish your changes on github. More in <a href="install.html">install</a>.</p>
          <!-- <h3 class="title">SVG-ready<a href="" target="_blank" class="btn external"><i class="fa fa-link"></i></a></h3>
          <p class="sig">Numquam, voluptatum ex voluptatibus at? Delectus sunt tenetur similique voluptatibus cum! Beatae.</p> -->
        </div>
        <div class="col-md-4">
         <h2>Requirements</h2>
         <ol class="tutorial">
           <li>Node<a target="_blank" class="btn external" href="https://nodejs.org"><i class="fa fa-link"></i></a></li>
           <li>Gulp<a target="_blank" class="btn external" href="http://gulpjs.com"><i class="fa fa-link"></i></a></li>
           <li>Bower<a target="_blank" class="btn external" href="http://bower.io/#install-bower"><i class="fa fa-link"></i></a></li>
           <li>GitHub<a target="_blank" class="btn external" href="https://desktop.github.com"><i class="fa fa-link"></i></a></li>
           <li>Sublime Text<a target="_blank" class="btn external" href="http://www.sublimetext.com"><i class="fa fa-link"></i></a></li>
         </ol>
         <a href="install.html" class="btn btn-block"><i class="fa fa-check"></i>Install</a>
       </div>

       {% endblock %}
