{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="social">
    <a href="https://www.facebook.com/technoqueers/" target="_blank">
        <i class="fa fa-facebook"></i>
    </a>
    <a href="https://www.instagram.com/TechnoQueersNY/" target="_blank">
        <i class="fa fa-instagram"></i>
    </a>
    <a href="https://www.twitter.com/TechnoQueersNY/" target="_blank">
        <i class="fa fa-twitter"></i>
    </a>
</div>
<div class="logo">
    <img src="images/logo_negative.svg">
</div>
<p class="description">{{project.description}}</p>
<form>
    <input type="text" placeholder="Your Name">
    <input type="email" placeholder="Your Email">
    <button class="btn">Submit</button>
</form>

</div>
<!-- insert code here -->
{% endblock %}
