{% extends "layout.html" %}
{% block active %}install{% endblock %}
{% block title %}install{% endblock %}
{% block quote %}get it running{% endblock %}

{% block content %}
<div class="col-md-8">
 <h2>Installation</h2>
 <ol class="tutorial">
   <li>Go to where you want your project to be in terminal, and type
    <p class="code terminal">git clone https://github.com/nonlinear/codecode</p></li>
    <li>Rename <p class="code folder">codecode</p> folder to your project name.</li>
    <li>Go to your project folder on terminal and type
      <p class="code terminal">npm install</p>
      <p class="sig">It will take a while.</p></li>
      <li> Install bower components with
       <p class="code terminal">bower install</p>
     </li>
     <li>Create a new repository on github, copy the HTTPS: url, then type:
       <p class="code terminal">git remote rename origin upstream</p>
       <p class="code terminal">git remote add origin (paste HTTPS here)</p>
       <p class="code terminal">git push origin master</p>
     </li>
     <li> Clean up code with
       <p class="code terminal">gulp start</p>
     </li>
     <li>Move <p class="code folder">macros</p> folder to <p class="code folder">Library/Application Support/Sublime Text 2 (or 3)/Packages</p>.</li>
   </ol>
 </div>
 <div class="col-md-4">
   <h2>Usage</h2>
   <ol class="tutorial">
     <li>On terminal, go to project and type <p class="code terminal">gulp</p>
      <p class="sig">A browser window will open, and refresh anytime your files are edited.</p></li>
      <li>Files are on <p class="code folder">app/pages</p></li>
      <li>Templates are on <p class="code folder">app/templates</p></li>
      <li>Personalize base variables at <p class="code file">app/sass/style.sass</p></li>
      <li>Edit project CSS rules at <p class="code file">app/sass/project/layout.sass</p></li>
      <li>Push your changes at will, and when you're ready to publish it, type <p class="code terminal">gulp publish</p>
        <p class="sig">unCSS will remove unused rules, and gh-pages will publish it at  www.<em>your-github-username</em>.github.io/<em>project-name</em></p></li>
      </ol>
    </div>
    {% endblock %}
