{% extends "layout.html" %}
{% block active %}partials{% endblock %}
{% block title %}partials{% endblock %}
{% block quote %}modularization for easy updates{% endblock %}

{% block content %}
<div class="col-md-4">
  <h2>On Nunjucks</h2>
  <p><a href="https://mozilla.github.io/nunjucks/" target="_blank">Nunjucks</a> is a rich and powerful templating language from mozilla.</p>
  <p>For your prototype to be rapid and easy to update, it pays to modularize your repeateable code in partials or templates.</p>
</div>
<div class="col-md-4">
  <h2>Using Templates</h2>
  <ol class="tutorial">
    <li>
      create a template on <p class="code folder">app/templates</p>
    </li>
    <li>create variables with <p class="code macro HTML">block</p></li>
    <li>create pages on <p class="code folder">app/pages</p></li>
    <li>assign layout with <p class="code macro HTML">extend</p></li>
    <li>add variable contents with <p class="code macro HTML">block</p></li>
    <li>results (template + page)  appear on <p class="code folder">dist</p></li>
  </ol>
</div>
<div class="col-md-4">
  <h2>Using Partials</h2>
    <ol class="tutorial">
    <li>
      create a partial on <p class="code folder">app/templates/partials</p>
    </li>
    <li>call it on <p class="code folder">app/templates</p> or <p class="code folder">app/pages</p> with <p class="code macro HTML">include</p></li>
  </ol>
  <ul class="soon">
    <li>explain macros (creation and calling)</li>
  </ul>
</div>
{% endblock %}
