{% extends "layout.html" %}
{% block active %}patterns{% endblock %}
{% block title %}patterns{% endblock %}
{% block quote %}scalable graphic patterns{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4">
    <p class="code macro SASS">pattern</p>
    <p class="sig">variables are respectively:
      <span class="code variable">$pattern</span> (see below)
      <span class="code variable">$size</span> (in px)
      <span class="code variable">$background-color</span>
      <span class="code variable">$foreground-color</span>
      <span class="code variable">$background-alpha</span>
      <span class="code variable">$foreground-alpha</span>
      <!-- <span class="code variable">$mask</span> -->
      <!-- TODO: add example, animated -->
    </p>
    <p class="sig">patterns are an extension of <a href="http://buseca.github.io/patternbolt/">patternbolt</a> project... You can get the stand-alone SASS file <a href="https://github.com/nonlinear/codecode/blob/master/app/sass/vendors/codecode/patterns.sass">here</a>.</p>
  </div>
  <div class="col-md-4">
    <p class="code macro SASS">knockout</p>
    <p class="sig">Applies pattern effects on text</p>
    <p class="testpattern">OH NOES!</p>

  </div>
  <div class="col-md-4">
    <ul class="soon">
      <li>noise pattern</li>
      <li>waves pattern</li>
      <li>mask variation (for images)</li>
    </ul>
  </div>
</div>
<div class="col-md-4">
  <h3>lines</h3>
  <ul class="pattern lines">
    <li>
      <p class="code variable">lines-a</p>
    </li>
    <li>
      <p class="code variable">lines-b</p>
    </li>
    <li>
      <p class="code variable">lines-c</p>
    </li>
  </ul>
    <h3>lines-down</h3>
  <ul class="pattern lines-down">
    <li>
      <p class="code variable">lines-down-a</p>
    </li>
    <li>
      <p class="code variable">lines-down-b</p>
    </li>
    <li>
      <p class="code variable">lines-down-c</p>
    </li>
  </ul>
  <h3>lines-up</h3>
  <ul class="pattern lines-up">
    <li>
      <p class="code variable">lines-up-a</p>
    </li>
    <li>
      <p class="code variable">lines-up-b</p>
    </li>
    <li>
      <p class="code variable">lines-up-c</p>
    </li>
  </ul>
  </div>
<div class="col-md-4">
    <h3>lines-vert</h3>
  <ul class="pattern lines-vert">
    <li>
      <p class="code variable">lines-vert-a</p>
    </li>
    <li>
      <p class="code variable">lines-vert-b</p>
    </li>
    <li>
      <p class="code variable">lines-vert-c</p>
    </li>
  </ul>

  <h3>cross</h3>
  <ul class="pattern cross">
    <li>
      <p class="code variable">cross-a</p>
    </li>
    <li>
      <p class="code variable">cross-b</p>
    </li>
    <li>
      <p class="code variable">cross-c</p>
    </li>
  </ul>
  <h3>cross-thin</h3>
  <ul class="pattern cross-thin">
    <li>
      <p class="code variable">cross-thin-a</p>
    </li>
    <li>
      <p class="code variable">cross-thin-b</p>
    </li>
    <li>
      <p class="code variable">cross-thin-c</p>
    </li>
  </ul>
</div>
<div class="col-md-4">
  <h3>candy</h3>
  <ul class="pattern candy">
    <li>
      <p class="code variable">candy-a</p>
    </li>
    <li>
      <p class="code variable">candy-b</p>
    </li>
    <li>
      <p class="code variable">candy-c</p>
    </li>
  </ul>
  <h3>dots</h3>
  <ul class="pattern dots">
    <li>
      <p class="code variable">dots-a</p>
    </li>
    <li>
      <p class="code variable">dots-b</p>
    </li>
    <li>
      <p class="code variable">dots-c</p>
    </li>
  </ul>

  <h3>noise</h3>
  <ul class="pattern noise">
    <li>
      <p class="code variable">noise-a</p>
    </li>
    <li>
      <p class="code variable">noise-b</p>
    </li>
    <li>
      <p class="code variable">noise-c</p>
    </li>
  </ul>

  <h3>grid</h3>
  <ul class="pattern grid">
    <li>
      <p class="code variable">grid-a</p>
    </li>
<!--     <li>
      <p class="code variable">grid-b</p>
    </li>
    <li>
      <p class="code variable">grid-c</p>
    </li> -->
  </ul>
</div>
{% endblock %}
