{% extends "layout.html" %}
{% block variable %}reduced{% endblock %}
{% block content %}
<header>
    Reduced List
    <br>
    Collapse Factory: Crash Control @ 7/22
    <a class="btn btn-mini" href="https://www.facebook.com/events/133065043787854/"><i class="fa fa-facebook"></i></a>
    <div class="lineup">Volvox/ Kimyon/ Antenes/ R Gamble/ Sprklbb/ Kristine Barilli</div>
</header>

<div class="alert">
    RSVP here and you'll be charged only $10 at the door, just mention you're on the TechnoQueers reduced list.
</div>


{% endblock %}
