{% extends "layout.html" %}
{% block active %}responsive{% endblock %}
{% block title %}responsive{% endblock %}
{% block quote %}device-ready from the start{% endblock %}

{% block content %}

<div class="col-md-4">
  <h2>responsive Macros</h2>
  <p class="code macro SASS">orientation</code>
    <p class="sig">base orientation detection. variables are <p class="code variable">landscape</p><p class="code variable">portrait</p></p>
  </div>
  <div class="col-md-4">
    <h2>Media Mixin as numbers</h2>
    <p class="code macro SASS">media</p><hr>
    <p class="code SASS">+media(200px, max)</p>
    outputs as
    <p class="code SASS">@media screen and (max-width: 200px)</p>
    <hr>
    <h4>Scopes</h4>
    <table class="legend">
     <tbody>
      <tr>
        <td><p class="code variable">max</p></td>
        <td>from number to smaller</td>
      </tr>
      <tr>
        <td><p class="code variable">min</p></td>
        <td>until number</td>
      </tr>


    </tbody>
  </table>

</div>
<div class="col-md-4">
  <h2>Media Mixin as device names</h2>
  <p class="code macro SASS">media</p><hr>
  <p class="code variable">ipad</p>
  <p class="code variable">iphone6</p>
  <p class="code variable">iphone5</p>
  <p class="code variable">iphone4</p>
  <p class="sig">more to come</p>
  <hr>
  <h4>Scopes</h4>
  <table class="legend">
   <tbody>
    <tr>
      <td><p class="code variable">strict</p></td>
      <td>apply <strong>only</strong> to device</td>
    </tr>
    <tr>
      <td><p class="code variable">landscape</p></td>
      <td>apply to landscape breakpoint and smaller</td>
    </tr>
    <tr>
      <td><p class="code variable">portrait</p></td>
      <td>apply to portrait breakpoint and smaller</td>
    </tr>

  </tbody>
</table>

</div>
{% endblock %}
