{% extends "layout.html" %}
{% block active %}social{% endblock %}
{% block title %}social{% endblock %}
{% block quote %}play well with others: code to integrate with other systems{% endblock %}

{% block content %}
<h2>Social Macros</h2>
<div class="row">
  <div class="col-md-4">
    <p class="code macro HTML">email</p>
    <p class="sig">email HTML link</p>
    <hr>
    <p class="code macro HTML">facebook</p>
    <p class="sig">facebook share HTML link</p>
    <hr>
    <p class="code macro HTML">google</p>
    <p class="sig">G+ share HTML link</p>
  </div>
  <div class="col-md-4">
    <p class="code macro HTML">linkedin</p>
    <p class="sig">linkedin share HTML link</p>
    <hr>
    <p class="code macro HTML">pinterest</p>
    <p class="sig">pinterest share HTML link</p>
    <hr>
    <p class="code macro HTML">reddit</p>
    <p class="sig">reddit share HTML link</p>
    <hr>
    <p class="code macro HTML">twitter</p>
    <p class="sig">twitter share HTML link</p>
  </div>
</div>
{% endblock %}
