{% extends "layout.html" %}
{% block active %}symbols{% endblock %}
{% block title %}symbols{% endblock %}
{% block quote %}all vector icons you may possibly need{% endblock %}

{% block content %}
<div class="col-md-4">
  <h2>FontAwesome</h2>
  <p><a href="https://fortawesome.github.io/Font-Awesome/">FontAwesome</a> is an icon-font with all sort of icons you can think of. I mean, <a href="https://fortawesome.github.io/Font-Awesome/">check it out</a>.</p>
  <p>To call it, use:</p>
  <p class="code HTML">&lt;i class="fa fa-FILENAME"&gt;&lt;/i&gt;</p>
  <p>FontAwesome has more icons that anyone can remember, so make sure to browse options.</p>
</div>
<div class="col-md-4">
 <h2>favicons</h2>
 <p>Favicons are the little icon identifiers of your site in different browsers and systems.</p>
 <ol class="tutorial">
   <li>create a 260x260 png logo file</li>
   <li>visit <a href="http://realfavicongenerator.net">Real Favicon Generator</a> and follow the instructions</li>
 </ol>
</div>
<div class="col-md-4">
  <h2>SVG</h2>
  <ol class="tutorial">
    <li>Go to <p class="code folder">app/svg</p> folder</li>
    <li>Add or edit an <p class="code file">svg</p> file</li>
    <li>Insert it on your HTML with: <p class="code HTML">&lt;i class="icon icon-FILENAME"&gt;&lt;/i&gt;</p></li>
  </ol>
  <ul class="soon">
    <li>Manipulate SVG colors and animation via CSS</li>
    <li>Replace FontAwesome with SVG symbols</li>
    <li>FontAwesome SVG library, to be inserted if needed</li>
    <li>Bypass Real Favicon Generator locally?</li>
  </ul>
</div>
{% endblock %}
