{% extends "layout.html" %}
{% block active %}upcoming{% endblock %}
{% block title %}upcoming{% endblock %}
{% block quote %}cool links to integrate{% endblock %}

{% block content %}
<div class="col-md-4">
<ul class="soon">
  <li><a target="_blank" href="http://callmecavs.github.io/jump.js/">Jump.js</a></li>
  <li><a target="_blank" href="http://29a.ch/2014/04/03/smartcrop-content-aware-image-cropping">smartcrop.js</a></li>
  <li><a target="_blank" href="http://una.im/lomo/#=%81">Lomography</a></li>
  <li><a target="_blank" href="http://thenewcode.com/975/Little-Big-Using-CSS-fit-content">CSS fit-content</a></li>
  <li><a target="_blank" href="https://medium.com/@mwichary/system-shock-6b1dc6d6596f#.5v3oyuenv">System shock</a></li>
  <li><a target="_blank" href="http://franklinta.com/2014/11/30/image-diffing-using-css/">Image diffing using CSS</a></li>
  <li><a target="_blank" href="http://corpuscss.com/?utm_source=sidebar">Corpus</a></li>
  <li><a target="_blank" href="http://simplaio.github.io/rucksack/">Rucksack</a></li>
</ul>
</div>
<div class="col-md-4">
<ul class="soon">
  <li><a target="_blank" href="https://css-tricks.com/prefetching-preloading-prebrowsing/">Prefetching, preloading, prebrowsing</a></li>
  <li><a target="_blank" href="http://www.bramstein.com/writing/preload-hints-for-web-fonts.html">Preload Hints For Web Fonts - Bram Stein</a></li>
  <li><a target="_blank" href="http://iamvdo.me/en/blog/advanced-css-filters">Advanced CSS filters</a></li>
  <li><a target="_blank" href="https://unsplash.it/">Unsplash It</a></li>
  <li><a target="_blank" href="http://www.w3schools.com/cssref/css_colornames.asp">CSS Color Names</a></li>
  <li><a target="_blank" href="https://github.com/riccardoscalco/crayon">Crayon</a></li>
  <li><a target="_blank" href="http://www.sitepoint.com/12-little-known-css-facts-the-sequel/">12 Little-Known CSS Facts</a></li>
  <li><a target="_blank" href="http://www.sitepoint.com/accessible-footnotes-css/">Accessible Footnotes</a></li>
  </ul>
</div>
<div class="col-md-4">
<ul class="soon">
  <li><a target="_blank" href="http://blog.gospodarets.com/css-scroll-snap/">Native CSS Scroll Snap Points</a></li>
  <li><a target="_blank" href="https://css-tricks.com/using-pinterest-data-attributes-and-meta-tags/?utm_source=dlvr.it&utm_medium=twitter">Using Pinterest Data Attributes and Meta Tags</a></li>
  <li><a target="_blank" href="http://webdesign.tutsplus.com/tutorials/a-simple-mixin-alternative-to-standard-css-grids--webdesign-16958">A Simple Mixin Alternative to Standard CSS Grids</a></li>
  <li><a target="_blank" href="http://dancort.es/web-design/2015/05/17/how-to-make-carousel-only-html-css-no-javascript.html#target-item-3">How to make a carousel using only HTML and CSS</a></li>
  <li><a target="_blank" href="http://blogs.adobe.com/dreamweaver/2015/04/an-introduction-to-graphical-effects-in-css.html#">An Introduction To Graphical Effects in CSS</a></li>
  <li><a target="_blank" href="http://codepen.io/noahblon/blog/coloring-svgs-in-css-background-images">Coloring SVGs in CSS Background Images</a></li>
  <li><a href="http://colourgarden.net/avalanche/">Avalanche - Responsive, Sass-based, BEM-syntax CSS grid system</a></li>
</ul>
</div>

{% endblock %}
