@font-face {
    font-family: "ClearSans-Thin";
    src: url("ClearSans-Thin.eot");
    src: url("ClearSans-Thin.eot?#iefix") format("embedded-opentype"),
         url("ClearSans-Thin.woff2") format("woff2"),
         url("ClearSans-Thin.woff") format("woff"),
         url("ClearSans-Thin.ttf") format("ttf"),
         url("ClearSans-Thin.svg#ClearSans-Thin") format("svg");
    font-style: normal;
    font-weight: 300;
}