@font-face {
    font-family: "OctoveticaFree";
    src: url("octovetica.eot");
    src: url("octovetica.eot?#iefix") format("embedded-opentype"),
         url("octovetica.woff2") format("woff2"),
         url("octovetica.woff") format("woff"),
         url("octovetica.ttf") format("ttf"),
         url("octovetica.svg#OctoveticaFree") format("svg");
    font-style: normal;
    font-weight: 300;
}