@font-face {
    font-family: "Tofino-Light";
    src: url("Tofino-Light.eot");
    src: url("Tofino-Light.eot?#iefix") format("embedded-opentype"),
         url("Tofino-Light.woff2") format("woff2"),
         url("Tofino-Light.woff") format("woff"),
         url("Tofino-Light.ttf") format("ttf"),
         url("Tofino-Light.svg#Tofino-Light") format("svg");
    font-style: normal;
    font-weight: normal;
}