$delay: .2s
$width: 300px
+font-face(Tofino-Light)
body
    font-size: 15px
    height: 100vh

table.content
    width: 100%
    height: 100%

    td:nth-of-type(2)
        width: $width
        padding: 20px 0
        +media($width, max)
            padding: 20px


.logo
    background-color: #FFF
    background-image: url("../images/glitch/04.gif")
    background-size: cover
    body:not(.home) &
        width: 200px

p
    margin: $gap 0
    line-height: 110%
    &:not(.description)
        font-size: 15px
        line-height: 140%

.logo, .container
    width: $width
    +media($width, max)
        width: 100%

.social
    text-align: right
    padding-bottom: $gap
    a
        background-color: #999
        width: 30px
        heighT: 25px
        display: inline-block
        font-size: 15px
        text-align: center
        margin-left: -5px
        padding-top: 2px
        +transition
        background: none
        color: #666 !important
        &:not(:first-of-type)
            border-left: solid 1px #666
        &:hover
            color: white !important

.social
    +fadeInDown
.logo
    +fadeInDown($delay: $delay)
p, .alert, header
    +fadeInDown($delay: ($delay * 2))
form
    +fadeInDown($delay: ($delay * 3))
    .btn
        input:first-of-type
        +fadeInDown($delay: ($delay * 4))

form
    input, select, textarea, button
        background-color: black !important
        color: $color-text !important
        border: solid 1px #666 !important
        height: 40px
        font-size: 15px !important
        &:hover
            color: white !important
.btn
    float: right
    display: inline-block
    width: auto
    margin: 0 !important
    +transition
    &:hover
        background-color: #333 !important
    &.btn-mini
        color: white
        padding: 5px
        padding-left: 9px
    +media($width, max)
        width: 100%




.alert
    border: none !important
    color: white
    // refer to nonlinear.nyc/codecode/patterns.html
    +pattern(lines-up-a, 10px, black, white, .2)
    +fadeInDown
    background-clip: border-box
    margin-bottom: 10px
    font-size: 15px

a.back
    float: left
    body.home &
        display: none

header
    padding: 10px 0

.lineup
    font-size: 15px
    padding-top: 10px
