$delay: .3s
+font-face(Tofino-Light)
body
    font-size: 15px

.logo
    background-color: #FFF
    width: 300px
    margin: 0 auto
    +fadeInDown($delay: $delay)
    background-image: url("../images/glitch/04.gif")
    background-size: cover

p.description
    margin: $gap 0
    +fadeInDown($delay: ($delay * 2))
    text-align: center


.container
    width: 300px
    padding: $gapx2 0
    font-size: 20px


.social
    text-align: right
    padding-bottom: $gap
    +fadeInDown
    a
        background-color: #999
        width: 25px
        heighT: 25px
        display: inline-block
        +radius(normal, 50%)
        font-size: 15px
        text-align: center
        color: black
        margin-left: -5px
        padding-top: 2px
        +transition
        &:hover
            color: #999
            background-color: black

form
    +fadeInDown($delay: ($delay * 2))
    input, select, textarea, button
        background-color: black !important
        color: #666 !important
        border: solid 1px #666 !important
        height: 40px
        font-size: 15px !important
        &:hover
            color: white !important

button.btn
    float: right
    margin: 0 !important
