// (\_/)   codecode
// ('ㅅ')づ free to personalize
// (")(")  refer to nonlinear.nyc/codecode

// ('ㅅ')づ font variables

$font-title: Tofino-Light
$font-text: Tofino-Light
$font-mono: "Courier New", Courier, monospace


// ('ㅅ')づ critical variables

$gap: 20px
$bp: 770px

// ('ㅅ')づ color variables

$color-bg: #333
$color-text: white
$color-title: white
$color-link: grey
$color-divider: grey
$color-link-hover: lighten($color-link, 20%)

// button color variables

$button:               #eee
$button-hover:         darken($button, 10%)
$button-border:        #999999
$button-border-hover:  $button-border
$button-text:          #666
$button-text-hover:    black
$color-select:         #b3d4fc
$color-accent:         $color-select

// ('ㅅ')づ status color variables

$status: #eee
$status-font: #3A4351
$status-border: #999EA5
$status-primary: #00A882
$status-primary-font: white
$status-primary-border: $status-primary
$status-success: #1B97BB
$status-success-font: white
$status-success-border: $status-success
$status-warning: #FFA51A
$status-warning-font: white
$status-warning-border: $status-warning
$status-danger: #DB2B53
$status-danger-font: white
$status-danger-border: $status-danger

// ('ㅅ')づ toggle variables

$toggle_height: 20px
$toggle_half: ($toggle_height / 2)
$toggle_width: ($toggle_height * 2)
$toggle_gap: 1px
$toggle_bg: $color-bg
$toggle_off: #999
$toggle_on: #666

// ('ㅅ')づ function variables

$prefixes: webkit moz ms o spec
$legacy_support_for_ie: false !default
$icons_on: true

@import '../../bower_components/font-awesome/scss/font-awesome'
@import 'vendors/codecode'
*
    +border-box
body
    text-align: center
    margin: 0 auto
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
    h1, h2, h3, h4
        +reset(all)
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif
        &.title a
            color: white
            text-decoration: none !important
    max-width: 500px
    width: 100%

a:not(.btn)
    color: #ccc !important
table
    margin-top: 10px
    text-align: left

    td
        vertical-align: top
    &.header
        margin: 0
        width: 100%
    &.tab
        width: 100%
        margin-bottom: 15px
        td
            &:first-of-type
                border-top: solid 2px white
                width: auto
                padding-top: 15px
                font-size: 20px
                line-height: 80%
                padding-right: 10px
                white-space: nowrap
                +radius(custom, 0, 5px, 0, 0)
            &:nth-of-type(2)
                min-width: 19px
                &:before
                    display: block
                    content: ""
                    border-left: solid 2px white
                    height: 39px
                    position: absolute
                    +rotate(-30)
                    margin-left: 7px !important
                    margin-top: -4px !important
            &:last-of-type
                border-bottom: solid 2px white
                width: 100%

a.btn
    margin-top: 5px !important
    background-color: #FFF
    display: block
    text-decoration: none
    width: 100%
    text-align: center
    height: 40px
    padding-top: 9px
    font-weight: bold
p
    margin: 0
    &:not(:last-of-type):not(:only-of-type)
        margin-bottom: 10px
.social
    float: right
    padding-top: 15px
    margin-right: -1px
    a
        width: 40px
        heighT: 40px
        display: block
        font-size: 20px
        text-align: center
        padding-top: 5px
        background-color: $color-bg
        +transition
        color: #fff
        table.header:not(.big) &:not(:first-of-type)
            border-top: solid 2px #fff
        table.header.big &:not(:first-of-type)
            margin-top: 2px

.sig
    font-size: 11px
    color: white
.tags
    +reset(all)
    +reset(list)
    li
        font-size: 11px
        color: black
        background-color: #FFF
        display: inline-block
        +radius(normal, 10px)
        padding: 2px 5px
img.cover
    padding: 15px 0
table.header
    &:not(.big) td
        height: 200px
    &.big td
        height: 250px
        background-size: cover
        background-position: center center
table.action
    margin-bottom: 30px !important
    td
        width: 50%
        vertical-align: bottom
        & > p:not(:last-of-type):not(:only-of-type)
            padding-bottom: 20px
        &:nth-of-type(1)
            padding-right: 10px
        &:nth-of-type(2)
            padding-left: 10px
.logo
    display: inline-block
    margin-left: -5px
    background-size: cover
    margin-top: 20px
    width: 100%
    table.header:not(.big) &
        max-width: 250px
    table.header.big &
        max-width: 200px
        svg
            fill: $color-bg

a.image
    width: 100%
    height: 200px
    background-size: cover
    display: block
    margin: 10px 0

td.footer
    padding: 20px 0
    border-top: solid 2px white
    ul
        @extend .sig
        width: 50%
        &:nth-of-type(1)
            float: left
            li:nth-of-type(4)
                padding-top: 10px
        &:nth-of-type(2)
            float: right
            text-align: right
        +reset(all)
        +reset(list)
        img
            width: 139px
            height: 54px
            margin-bottom: 10px

table.description
    margin-bottom: 20px
