$font-title: Helvetica
$font-text: Helvetica

$color-bg: #333
$color-text: white
$color-title: white


=transition($prop: all, $time: 300ms, $ease: ease-out)
  @if $prop == disable
    -moz-transition: none !important
    -webkit-transition: none !important
  @else
    -webkit-transition: $prop $time $ease !important
    -moz-transition: $prop $time $ease !important
    -ms-transition: $prop $time $ease !important
    -o-transition: $prop $time $ease !important
    transition: $prop $time $ease !important

=find($color: red)
  border: dashed 1px $color !important

=size($mode: square, $width: 5px, $height: 5px)
  width: $width
  height: $height
  @if $mode == square
    width: $width
    height: $width
  @else
    width: $width
    height: $height

=border-box($mode: border-box)
  box-sizing: $mode
  -moz-box-sizing: $mode
  -webkit-box-sizing: $mode

=radius($mode: normal, $radius-1: 5px, $radius-2: 5px, $radius-3: 5px, $radius-4: 5px)
  @if $mode == normal
    -webkit-border-radius: $radius-1
    -moz-border-radius: $radius-1
    border-radius: $radius-1
  @else
    -webkit-border-top-right-radius: $radius-2
    -webkit-border-bottom-right-radius: $radius-3
    -webkit-border-bottom-left-radius: $radius-4
    -webkit-border-top-left-radius: $radius-1
    -moz-border-radius-topright: $radius-2
    -moz-border-radius-bottomright: $radius-3
    -moz-border-radius-bottomleft: $radius-4
    -moz-border-radius-topleft: $radius-1
    border-top-right-radius: $radius-2
    border-bottom-right-radius: $radius-3
    border-bottom-left-radius: $radius-4
    border-top-left-radius: $radius-1
  -moz-background-clip: padding
  -webkit-background-clip: padding-box
  background-clip: padding-box

=shadow($mode: normal, $shadow: 0 1px 3px rgba(0, 0, 0, 0.25))
  @if $mode == text
    -webkit-text-shadow: $shadow
    -moz-text-shadow: $shadow
    text-shadow: $shadow
  @else
    -webkit-box-shadow: $shadow
    -moz-box-shadow: $shadow
    box-shadow: $shadow

=opacity($opacity: 40)
  opacity: $opacity / 100
  filter: "alpha(opacity=#{$opacity})"
  -khtml-opacity: $opacity / 100
  -moz-opacity: $opacity / 100

=reset($type: all)
  @if $type == margin
    margin: 0px !important
  @else if $type == padding
    padding: 0px !important
  @else if $type == border
    border: none
  @else if $type == bg
    background: transparent
  @else if $type == list
    list-style: none
  @else if $type == select
    -moz-appearance: none
    -webkit-appearance: none
  @else if $type == shadow
    +shadow(normal, none)
  @else if $type == outline
    outline-width: 0
    outline: none !important
    outline-color: transparent
    outline-style: none
  @else if $type == shadow-text
    +shadow(text, none)
  @else if $type == number
    &[type=number]::-webkit-inner-spin-button, &[type=number]::-webkit-outer-spin-button
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
      margin: 0
  @else
    margin: 0px !important
    padding: 0px !important
    border: none
    background: transparent
    &:focus
      outline-width: 0
      outline: none
      outline-color: transparent
      outline-style: none

=clearfix
  zoom: 1
  &:before,
  &:after
    display: table
    content: ""
  &:after
    clear: both

h1, h2, h3, h4, h5, h6
  font-family: $font-title
  color: $color-title
  font-weight: normal

body
  background-color: $color-bg
  color: $color-text
  font-family: $font-text


a
    text-decoration: none !important

a:not(.btn)
    color: #ccc !important
.feed
    width: 100%
    td.margin
        width: 50%

    td.content
        max-width: 100%
        table
            width: 500px
            margin-top: 10px
            text-align: left
            td
                vertical-align: top
            &.header
                margin: 0
                width: 100%
            &.tab
                width: 100%
                margin-bottom: 15px
                td
                    &:first-of-type
                        border-top: solid 2px white
                        width: auto
                        padding-top: 15px
                        font-size: 20px
                        line-height: 80%
                        padding-right: 10px
                        white-space: nowrap
                    &:nth-of-type(2)
                        min-width: 19px
                        background-image: url("http://www.technoqueers.com/images/newsletter/tab.jpg")
                        background-size: 20px 35px
                        background-position: -1px -1px
                        background-repeat: no-repeat

                    &:last-of-type
                        border-bottom: solid 2px white
                        width: 100%

a.btn
    margin-top: 5px !important
    background-color: #FFF
    display: block
    color: $color-bg
    text-align: center
    padding: 10px
    font-weight: bold
p
    margin: 0
    &:not(:last-of-type):not(:only-of-type)
        margin-bottom: 10px
.social
    float: right
    padding-top: 15px
    margin-right: -1px
    a
        width: 40px
        heighT: 40px
        display: block
        font-size: 20px
        text-align: center
        margin-top: 5px
        background-color: $color-bg
        +transition
        color: #fff
        table.header:not(.big) &:not(:first-of-type)
            border-top: solid 2px #fff
        table.header.big &:not(:first-of-type)
            margin-top: 2px
    img
        width: 100%

.sig
    font-size: 11px
    color: white
.tags
    +reset(all)
    +reset(list)
    margin-top: 5px !important
    li
        font-size: 11px
        color: black
        background-color: #FFF
        display: inline-block
        +radius(normal, 10px)
        padding: 2px 5px
        margin-right: 3px
img.cover
    padding: 15px 0
table.header
    &:not(.big) td
        height: 200px
    &.big td
        height: 250px
        background-size: cover
        background-position: center center
table.action
    margin-bottom: 30px !important
    td
        width: 50%
        vertical-align: bottom
        & > p:not(:last-of-type):not(:only-of-type)
            padding-bottom: 20px
        &:nth-of-type(1)
            padding-right: 10px
        &:nth-of-type(2)
            padding-left: 10px
.logo
    display: inline-block
    margin-top: 20px
    width: 100%
    margin-left: -5px
    background-size: cover
    table.header:not(.big) &
        max-width: 250px
        .lid, .bg
            background-size: contain
            position: absolute
        .lid
            background-image: url("http://www.technoqueers.com/images/newsletter/logo_newsletter.png")
            width: 250px
            height: 143px
        .bg
            background-image: url("http://www.technoqueers.com/images/glitch/04.gif")
            width: 249px
            height: 143px
    table.header.big &
        width: 231px
        height: 133px
        background-image: url("http://www.technoqueers.com/images/newsletter/logo.png")
        background-size: contain
        background-repeat: no-repeat
        svg
            fill: $color-bg

a.image
    width: 100%
    display: block
    margin: 10px 0
    img
        width: 100%

.footer td
    padding: 20px 0
    border-top: solid 2px white
    ul
        @extend .sig
        width: 50%
        &:nth-of-type(1)
            float: left
            li:nth-of-type(4)
                padding-top: 10px
        &:nth-of-type(2)
            float: right
            text-align: right
        +reset(all)
        +reset(list)
        img
            width: 139px
            height: 54px
            margin-bottom: 10px

table.description
    margin-bottom: 20px


