
<p>Made by Nicholas Frota, standing on the shoulder of Open Source giants.</p>
<a href="mailto:info@nicholasfrota.com">
  <i class="fa fa-envelope"></i>
</a>
<a href="http://twitter.com/nonlinear">
  <i class="fa fa-twitter"></i>
</a>
<a href="http://github.com/nonlinear">
  <i class="fa fa-github"></i>
</a>
<a href="http://instagram.com/nonlinear">
  <i class="fa fa-instagram"></i>
</a>
<a href=" http://nonlinear.nyc">
  <i class="fa fa-globe"></i>
</a>
<a href="http://linkedin.com/in/nicholasfrota">
  <i class="fa fa-linkedin"></i>
</a>
