<div class="row">
    <div class="col-md-6">
        <label class="toggle">
    <input type="checkbox" checked />
    <div class="box">
        <div class="checkbox">
        </div>
        <div class="title">Label 1</div>
    </div>
</label>
<label class="toggle">
    <input type="checkbox" />
    <div class="box">
        <div class="checkbox">
        </div>
        <div class="title">Label 2</div>
    </div>
</label>
<label class="toggle">
    <input type="checkbox" checked />
    <div class="box">
        <div class="checkbox">
        </div>
        <div class="title">Label 3</div>
    </div>
</label>
    </div>
    <div class="col-md-6">
        <label class="toggle">
    <input type="checkbox" checked />
    <div class="box">
        <div class="checkbox">
        </div>
        <div class="title">Label 4</div>
    </div>
</label>
<label class="toggle">
    <input type="checkbox" checked />
    <div class="box">
        <div class="checkbox">
        </div>
        <div class="title">Label 5</div>
    </div>
</label>
<label class="toggle">
    <input type="checkbox" />
    <div class="box">
        <div class="checkbox">
        </div>
        <div class="title">Label 6</div>
    </div>
</label>
    </div>
</div>
