<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{project.title}}</title>
  <link rel="stylesheet" href="css/style.css">
    <meta content="minimum-scale=1.0, width=device-width, maximum-scale=0.6667, user-scalable=no" name="viewport" />
</head>
<body class="{% block variable %}{% endblock %}">
  <table class="content">
    <tr>
      <td>&nbsp;</td>
      <td>
    <div class="social">
      <a href="/" class="back">
        <i class="fa fa-home"></i>
      </a>
         <a href="https://www.soundcloud.com/technoqueers/" target="_blank">
        <i class="fa fa-soundcloud"></i>
    </a>
    <a href="https://www.facebook.com/technoqueers/" target="_blank">
        <i class="fa fa-facebook"></i>
    </a>

    <a href="https://www.instagram.com/TechnoQueersNY/" target="_blank">
        <i class="fa fa-instagram"></i>
    </a>
    <a href="https://www.twitter.com/TechnoQueersNY/" target="_blank">
        <i class="fa fa-twitter"></i>
    </a>
    <a href="mailto:technoqueersny@gmail.com?subject=Feedback">
      <i class="fa fa-envelope"></i>
    </a>
</div>
<div class="logo">
    <img src="images/logo_negative.svg">
</div>
{% block content %}
  {% endblock %}
</td>
      <td>&nbsp;</td>
    </tr>
  </table>
  <script src="js/main.js"></script>
</body>
</html>
