<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{project.title}}</title>
  <link rel="stylesheet" href="css/newsletter.css">
  <meta content="minimum-scale=1.0, width=device-width, maximum-scale=0.6667, user-scalable=no" name="viewport" />
</head>
<body class="newsletter">
    <table class="feed">
        <tr>
           <td>

          <div class="social">
                       <a href="https://www.soundcloud.com/technoqueers/" target="_blank">
                        <i class="fa fa-soundcloud"></i>
                    </a>
                    <a href="https://www.facebook.com/technoqueers/" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="https://www.instagram.com/TechnoQueersNY/" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="https://www.twitter.com/TechnoQueersNY/" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
                 <a href="#" class="logo">
                            <img src="images/logo_newsletter.svg">
                        </a>
    </td>
</tr>
<tr>
   <td>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus assumenda tenetur, ratione soluta consequuntur labore. Incidunt nostrum alias consequatur, illo.</p>
   <p>Praesentium officiis labore, optio est quia velit eveniet nam facilis quo saepe amet ducimus necessitatibus eos, quibusdam! Nihil aperiam, nesciunt.</p>
   </td>
</tr>
<tr>
   <td>
 <table class="tab">
     <tr>
         <td>Mix of the Week</td>
         <td></td>
         <td></td>
     </tr>
 </table>
   </td>
</tr>




{% block content %}
{% endblock %}
<tr>
   <td><h2>Footer</h2></td>
</tr>
</table>
</body>
</html>
