<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{project.title}}</title>
  <link rel="stylesheet" href="css/newsletter.css">
  <meta content="minimum-scale=1.0, width=device-width, maximum-scale=0.6667, user-scalable=no" name="viewport" />
</head>
<body class="newsletter">
    <table class="feed">
        <tr class="loop">
           <td>

          <div class="social">
                       <a href="https://www.soundcloud.com/technoqueers/" target="_blank">
                        <i class="fa fa-soundcloud"></i>
                    </a>
                    <a href="https://www.facebook.com/technoqueers/" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="https://www.instagram.com/TechnoQueersNY/" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="https://www.twitter.com/TechnoQueersNY/" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </div>
                 <a href="#" class="logo">
                            <img src="images/logo_newsletter.svg">
                        </a>
    </td>
</tr>
<tr class="loop">
   <td><h2>Description</h2></td>
</tr>
<tr class="loop">
   <td><h2>Mix of the week</h2></td>
</tr>
<tr class="loop">
   <td><h1>Saturday</h1></td>
</tr>



{% block content %}
{% endblock %}
<tr class="loop">
   <td><h2>Footer</h2></td>
</tr>
</table>
</body>
</html>
